{% extends 'includes/base.html'%}



{% block title %}
<title>Active Vehicle</title>
{% endblock %}


{% block content %}

<section>

    <div class="container">

        <div class="emp_box">


            <div class="SignupForm panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Active Vehicle</h4>
                </div>
                <div class="panel-body">

                    <form action="" method="post" class="">
                        {% csrf_token %}
                        <table class="table">
                            {{form.as_table}}
                        </table>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success">Submit</button>

                            <a href="{% url 'workList' %}" class="btn btn-primary float-right">Cancel</a>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


</section>


{% endblock %}
